.icon{
    color: #fff;
    padding-right: 5px;
    font-size: 25px;
}

.search-container{
}

.search-bar{
    opacity: 0;
    width: 0px;
    transition: opacity 2s, width 2s;
    border: 0;
    border-radius: 20px;
    padding: 2.5px 5px;
    font-size: 20px;
}

.search-bar:focus{
    outline: none;
}

.icon:hover ~ .search-bar, .search-bar:hover, .search-bar:focus{
    opacity: 1;
    width: 100px;
}
